[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kafka-python = "*"
websocket-client = "*"
finnhub-python = "*"
avro-python3 = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
